{% load staticfiles %}
<html>
    <head>
        <title> Mara Gatchalian </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/vanillablog.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>

    </head>

    <body>
        <div class="page-header">

            <a href="{% url 'create_post' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

            <a href="/"><h1> Vanilla Blog </a></h1>
            <p> <h4>by Mara Gatchalian</h4></p> 
            
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>