{% extends 'vanillablog/index.html' %}
{% block content %}
    <div class="post">
        {% if object.published_date %}
            {{ object.published_date }}
            
        {% endif %}        

        <h1>{{ object.title }}</h1>
        <p>{{ object.text|linebreaks }}</p> 
        <p><i> - {{ object.author}} </p></i>


        {% csrf_token %}
        <a class="btn btn-default" href="{% url 'delete_post' object.pk %}"><span class="glyphicon glyphicon-trash"></span></a>

    </div>

{% endblock %}