{% extends 'vanillablog/index.html' %}
{% block content %}
    <div class="post">
        {% if object.published_date %}
            {{ object.published_date }}
            
        {% endif %}        

        <h1>{{ object.title }}</h1>
        <p>{{ object.text|linebreaks }}</p> 
        <p><i> - {{ object.author}} </p></i>

        <form method="POST" action="{% url 'delete_post' object.pk %}">
        	{% csrf_token %}
            <input type="submit" class="btn btn-sm btn-danger" value="delete"></input>
        </form>

    </div>

{% endblock %}